externallibs/DirectXTK/Audio/Bin/
externallibs/DirectXTK/Bin/
build/
*.sdf
externallibs/DirectXTK/MakeSpriteFont/obj/
externallibs/DirectXTK/XWBTool/bin/
*.ipch
externallibs/DirectXTex/DDSView/Release/
externallibs/DirectXTex/DirectXTex/Bin/
externallibs/DirectXTex/Texconv/Debug/
externallibs/DirectXTex/Texconv/Release/
externallibs/stack_walker/lib/Debug/
externallibs/stack_walker/lib/Release/
externallibs/Eigen/debug/
*.opendb
*.db
*.lyx~
*.opensdf
